{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ airbnb.City }} - {{ airbnb.fldState }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Active Rentals: {{ airbnb.ActiveRentals }}</li>
        <li class="list-group-item">Average Daily Rate: {{ airbnb.AverageDailyRate }}</li>
        <li class="list-group-item">Occupancy Rate: {{ airbnb.OccupancyRate }}</li>
        <li class="list-group-item">Revenue: {{ airbnb.Revenue }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{airbnb.id}}" class="card-link btn btn-primary">Edit</a>
    </div>
</div>
<form action="/delete/{{airbnb.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}